---
import Layout from "~/layouts/Layout.astro";

import PageSection from "~/components/PageSection.astro";
import InvolvementSection from "~/components/InvolvementSection.astro";
---

<Layout title="Contact">
    <InvolvementSection />
    <PageSection id="direct-contact">
        <h1>Contact Us Directly</h1>
        <p>
            Have a question? Don't feel like filling out a form? Feel free to shoot us an email!
            <br/>
            <a href="mailto:vocalbham@gmail.com">vocalbham@gmail.com</a>
        </p>
    </PageSection>
</Layout>